body {
  height: 250px;
  width: 750px;
}
button {
    height: 30px;
    width: 30px;
    border: black;
    border-radius: 2px;
}
.divstyle{
  background-color: aqua;
  display: inline-block;
  overflow: hidden;
}
.Result-choice{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  margin: 5px;
}
table {
  border-collapse: collapse;
}
td, th {
    padding: 1px;
    table-layout: fixed;
    width: 100px;
}
  