
body {
  height: 170px;
  width: 750px;
  background-color: gray;
  border: double black thick;
  padding: 0%;
  margin: 0%;
}
button {
    height: 30px;
    width: 30px;
    border: black;
    border-radius: 2px;
}

.divstyle{
  background-color: rgba(150, 146, 146, 0.534);
  display: inline-block;
  overflow: hidden;
 vertical-align: top;
  margin: 5px 0;
}
.Result-choice{
  height: 100%;
 
  vertical-align: middle;
}
#ext-body{
  align-self: center;
  margin: 10px  auto 10px;
  width: 95%;
  
  padding: 10px;
  background-color: white;
  border-radius: 40 px;
}
table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}
#ticket-name, #ticket-url{
  width: 100px;
}
.table-data {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
td{
    padding: 1px;
    width: 100px;
}
  